<div class="container container-margin-left">
  <h1>Wish Validation</h1>
  <div>
    <% @children.where(parent:false).each do |child| %>
      <p><%=child.email%></p>
      <%child.user_books.wished.where(wish_validate: false).each do |user_book|%>
        <p><%=user_book.book.name%></p>
        <%= button_to "Wish Validate", wish_validate_user_book_path(user_book), method: :put, class:"btn-small btn-violet" %>

      <% end %>
    <% end %>
  </div>
  <h1>Read Validation</h1>
  <div>
    <% @children.where(parent:false).each do |child| %>
      <p><%=child.email%></p>
      <% child.user_books.read.where(read_validate: false).each do |user_book|%>
        <p><%=user_book.book.name%></p>
        <%= button_to "Read Validate", read_validate_user_book_path(user_book), method: :put, class:"btn-small btn-violet"%>
      <% end %>
    <% end %>
</div>
