<div class="container container-margin-left">

  <%=link_to books_path do %>
    <i class="fas fa-arrow-alt-circle-left icon-back"></i>
  <% end %>



  <div class="container-profil">
    <div class="profil-avatar">
      <%= link_to user_profil_path(current_user) do %>
        <%= image_tag 'https://res.cloudinary.com/dotwftnzf/image/upload/v1675797319/no_avatar_fxdnx3.png', class:"navbar-avatar mb-3" %>
      <% end %>
    </div>
    <div class="profil-name">
      <div>
        Your name :
        <p class="bg-small bg-blue"><%=@user.user_name %></p>
      </div>
      <div>
        Your Score :
        <p class="bg-small bg-violet"><%=@user.total_score %></p>
      </div>
    </div>
    <div class="profil-book">
      <div>
        Books read :
        <p class="bg-small bg-green"><%=@reading_list_books.count %></p>
      </div>
      <div>
        Books in Wishlist :
        <p class="bg-small bg-yellow"><%=@wish_list_books.count %></p>
      </div>
    </div>
    <!-- TODO add user friends and reward-->


    <!-- TODO change to link to edit reward profil-->
    <i class="fa-solid fa-pen icon-pen"></i>
  </div>

  <% unless current_user == @user || current_user.favorited?(@user) %>
    <%= button_to "Add to my Friends",
     favorites_path(user_id: @user.id),
     data: { turbo_method: :post } %>

  <% end %>

</div>
