<div class="container container-margin-left">

  <%=link_to books_path do %>
    <i class="fas fa-arrow-alt-circle-left icon-back"></i>
  <% end %>

  <div class="container-profil">
    <p class="bg-small bg-blue"><%=@user.user_name %></p>
    <p class="bg-small bg-violet"><%=@user.total_score %></p>
    <p class="bg-small bg-green"><%=@reading_list_books.count %></p>
    <p class="bg-small bg-yellow"><%=@wish_list_books.count %></p>
    <!-- TODO add user friends and reward-->
  </div>

</div>
