
<div class="container container-margin-left">

  <div class="search-container">
    <%= form_with url: search_books_path, method: :get, class: "el-center search-form d-flex"  do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-bar",
        placeholder: "Find a book"
      %>
      <%= button_tag type: "submit", class: "btn-small btn-violet ms-3" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
  </div>

  <div class="index-container">
    <div class= "category-container mb-3">
      <%= link_to "Adventure", search_theme_books_path(query: "Adventure"), class:"btn-small btn-yellow"  %>
      <%= link_to "Fantasy", search_theme_books_path(query: "Fantasy"), class:"btn-small btn-blue" %>
      <%= link_to "Comics", search_theme_books_path(query: "Comics"), class:"btn-small btn-orange"  %>
      <%= link_to "Cartoons", search_theme_books_path(query: "Cartoons"), class:"btn-small btn-violet"  %>
      <%= link_to "Manga", search_theme_books_path(query: "Manga"), class:"btn-small btn-green"  %>
    </div>
  </div>

  <div class="index-container">
    <div class="title-container">
      <h2> I want to read <span class="count-index">(<%= @wish_list_books.count %>  <i class="fa-solid fa-book"></i>)</span> : </h2>
      <%= link_to wish_list_books_path do %>
        <i class="fa-regular fa-rectangle-list index-icon"></i>
      <% end %>
    </div>

    <% @wish_list_books.take(5).reverse_each do |book| %>
      <%= link_to book_path(book) do %>
        <%= image_tag book.image, class:"img-index" %>
      <% end %>
    <% end %>

    <% if @wish_list_books.empty? %>
      <p>You don't have a book on your wish list. You can add one using the search bar at the top of the page.</p>
    <% end %>
  </div>


  <div class="index-container">
    <div class="title-container">
      <h2>I'm currently reading <span class="count-index">(<%= @reading_list_books.count %>  <i class="fa-solid fa-book"></i>)</span> : </h2>
      <%= link_to reading_list_books_path do %>
        <i class="fa-regular fa-rectangle-list index-icon"></i>
      <% end %>
    </div>
      <% @reading_list_books.take(5).reverse_each do |book| %>
        <%= link_to book_path(book) do %>
          <%= image_tag book.image, class:"img-index" %>
        <% end %>
      <% end %>

      <% if @reading_list_books.empty? %>
        <p>You don't have a book in your reading list. Ask your parents to validate the books on your wish list and start the fabulous adventure of reading</p>
      <% end %>
  </div>

  <div class="index-container">
    <div class="title-container">
      <h2>I've read <span class="count-index">(<%= @read_book_list.count %>  <i class="fa-solid fa-book"></i>)</span> :</h2>
      <%= link_to read_book_list_books_path do %>
        <i class="fa-regular fa-rectangle-list index-icon"></i>
      <% end %>
    </div>
      <% @read_book_list.take(5).reverse_each do |book| %>
        <%= link_to book_path(book) do %>
          <%= image_tag book.image, class:"img-index" %>
        <% end %>
      <% end %>

      <% if @read_book_list.empty? %>
        <p>You don't have a book in your reading list. Ask your parents to validate the books on your wish list and start the fabulous adventure of reading</p>
      <% end %>
  </div>

</div>
