<div class =container >
<h1>My Books</h1>
<h2><%= @book.name %></h2>
</div>
<div class = container>
<h3>Description:</h3><p><%= @book.description %></p>
<h3>Author:</h3><p><%= @book.author %></p>
<h3></h3><p><<%= image_tag @book.image %></p>
<h3>ISBN:</h3><p><%= @book.isbn %></p>
<h3>Score:</h3></h2><p><%= @book.score %></p>
</div>
