<div class="container container-margin-left">

<!----------------- TOP ---------------->
  <div class="show-top">

    <%= link_to books_path do %>
      <i class="fas fa-arrow-alt-circle-left icon-back"></i>
    <% end %>

    <div class="show-left">

      <p class="bg-big bg-blue el-center"><%= @book.name %></p>

      <%= image_tag @book.image, class:"img-index" %>

      <h3>DESCRIPTION:</h3>
      <p class="bg-description"><%= @book.description %></p>

      <div class="show-element mb-3">
        <div>
          <h3>AUTHOR:</h3>
          <p class="bg-small bg-violet mb-3"><%= @book.author %></p>
        </div>
        <div>
          <h3>SCORE:</h3>
          <p class="bg-small bg-green mb-3"><%= @book.score %></p>
        </div>
        <div>
          <h3>ISBN:</h3>
          <p class="bg-small bg-yellow"><%= @book.isbn %></p>
        </div>
      </div>

      <div class="show-element">
        <%= button_to "Wished Books", book_user_books_path(@book), method: :post, class:"btn-big btn-blue" %>
        <% unless @user_book.nil? %>
          <%= link_to "Delete this book", book_path(@book), class:"btn-big btn-orange", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        <%end %>
      </div>
    </div>


    <div class="show-right">
      <p>
        <% 5.times do |i| %>
          <% if i < @book.average_rating.floor %>
            <i class="fas fa-star big-star"></i>
          <% else %>
            <i class="far fa-star big-star"></i>
          <% end %>
        <% end %>
      </p>

      <% @book.reviews.each do |review| %>
        <p class="container-review">
          <%= link_to "#{review.user_book.user.user_name} : ", user_profil_path(review.user_book.user), class: "mb-2 btn-small btn-green" %>
          <%= review.rating %><i class="far fa-star little-star"></i>
          <%= review.comment %>
        </p>
      <% end %>

      <% if @book.reviews == [] %>
        <p>This book has no review. Read it quickly and give your opinion!</p>
      <% end %>


      <% unless @user_book.nil? %>
        <%= link_to "Add a review", new_user_book_review_path(@user_book), class:"btn-small btn-violet" %>
      <%end %>
    </div>
  </div>
