<section>
   <div class="container-form10">
      <div class="container-form9">
         <h1 class="add-review-title">Add your Review</h1>
         <%= simple_form_for [@user_book, @review] do |f| %>
         <%= f.label :comment %>
         <%= f.text_field :comment %>
         <%= f.label :rating %>
         <%= f.text_field :rating %>
         <%= f.submit class: 'btn-orange' %>
         <% end %>
         <div class="container-form11">
            <h1 class="explain">Please help others BooKids users by rating this book with a note between 1.0 to 5.0 (rating form above)</h1>
            <ul class="gold-points">
               <li>1</li>
               <li>2</li>
               <li>3</li>
               <li>4</li>
               <li>5</li>
            </ul>
         </div>
      </div>
   </div>
   </div>
</section>
